In [14]:
import pandas as pd
import numpy as np

## Task 1: Handling Missing Values

In [35]:
# Step 1

df = pd.read_csv("melb_data.csv")
missing_person = df.isna().sum()

# Step 2

missing_percentage = (missing_person / len(df)) * 100

# Step 3

columns_to_drop = missing_percentage[missing_percentage > 20].index
print(columns_to_drop)

Index(['BuildingArea', 'YearBuilt'], dtype='object')



##  Task 2 :Advanced Filtering and Indexing

In [34]:

# Step 1

richmond_houses = df[(df["Suburb"] == "Richmond") & (df["Price"] > 1000000)]
print(richmond_houses.head())

        Suburb          Address  Rooms Type      Price Method        SellerG  \
5257  Richmond       81 Erin St      3    h  1260000.0      S         Biggin
5258  Richmond  52 Lyndhurst St      3    t  1236000.0      S         Jellis
5263  Richmond        7 Bank St      3    h  1600000.0      S  hockingstuart
5264  Richmond      29 Bowen St      3    h  2180000.0     PI           Blue
5266  Richmond      131 Lord St      4    h  3335000.0      S         Jellis

           Date  Distance  Postcode  ...  Car  Landsize  BuildingArea  \
5257  3/09/2016       2.6    3121.0  ...  0.0     203.0          81.0
5258  3/09/2016       2.6    3121.0  ...  1.0     675.0           NaN
5263  3/12/2016       2.6    3121.0  ...  1.0     115.0           NaN
5264  3/12/2016       2.6    3121.0  ...  2.0     345.0           NaN
5266  3/12/2016       2.6    3121.0  ...  2.0     319.0           NaN

      YearBuilt  CouncilArea  Lattitude Longtitude             Regionname  \
5257     1900.0        Yarra   -37.8166   144.9945  Northern Metropolitan
5258        NaN        Yarra   -37.8206   145.0003  Northern Metropolitan
5263        NaN        Yarra   -37.8163   144.9984  Northern Metropolitan
5264        NaN        Yarra   -37.8159   144.9940  Northern Metropolitan
5266     1893.0        Yarra   -37.8244   145.0044  Northern Metropolitan

      Propertycount Price_per_Room
5257        14949.0  420000.000000
5258        14949.0  412000.000000
5263        14949.0  533333.333333
5264        14949.0  726666.666667
5266        14949.0  833750.000000

[5 rows x 22 columns]

In [33]:
# Step 2

df_filtered = df.loc[df["Landsize"] > 500, ["Price", "Suburb", "BuildingArea"]]
print(df_filtered.head())

        Price        Suburb  BuildingArea
20  1330000.0    Abbotsford         135.0
22  1090000.0    Abbotsford          27.0
45   720000.0  Airport West           NaN
46   785000.0  Airport West         127.0
47   725000.0  Airport West         186.0

In [30]:
# Step 3

df_sorted = df.sort_values(by="Price", ascending=False)
print(df_sorted.head(5))

            Suburb         Address  Rooms Type      Price Method  \
12094     Mulgrave     35 Bevis St      3    h  9000000.0     PI
7692    Canterbury  49 Mangarra Rd      5    h  8000000.0     VB
9575      Hawthorn    49 Lisson Gr      4    h  7650000.0      S
3616           Kew     15 Barry St      6    h  6500000.0      S
12557  Middle Park     136 Page St      5    h  6400000.0      S

            SellerG        Date  Distance  Postcode  ...  Bathroom  Car  \
12094          Hall  29/07/2017      18.8    3170.0  ...       1.0  1.0
7692      Sotheby's  13/05/2017       9.0    3126.0  ...       5.0  4.0
9575   Abercromby's  17/06/2017       5.3    3122.0  ...       2.0  4.0
3616         Jellis  13/08/2016       5.6    3101.0  ...       6.0  3.0
12557      Marshall   9/09/2017       3.0    3206.0  ...       2.0  1.0

       Landsize  BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
12094     744.0         117.0     1960.0       Monash -37.93168   145.16126
7692     2079.0         464.3     1880.0   Boroondara -37.81790   145.06940
9575     1690.0         284.0     1863.0   Boroondara -37.82652   145.03052
3616     1334.0         365.0     1890.0   Boroondara -37.80290   145.02670
12557     553.0         308.0     1920.0          NaN -37.84908   144.95753

                       Regionname Propertycount
12094  South-Eastern Metropolitan        7113.0
7692        Southern Metropolitan        3265.0
9575        Southern Metropolitan       11308.0
3616        Southern Metropolitan       10331.0
12557       Southern Metropolitan        2019.0

[5 rows x 21 columns]

## Task 3: Data Transformation

In [44]:
# Step 1

df["Price_per_Room"] = df["Price"] / df["Rooms"]
print(df[["Price", "Rooms", "Price_per_Room"]].head())

       Price  Rooms  Price_per_Room
0  1480000.0      2   740000.000000
1  1035000.0      2   517500.000000
2  1465000.0      3   488333.333333
3   850000.0      3   283333.333333
4  1600000.0      4   400000.000000

In [45]:
# Step 2

df["Date"] = pd.to_datetime(df["Date"],format='mixed')
print(df["Date"].head(4))

0   2016-03-12
1   2016-04-02
2   2017-04-03
3   2017-04-03
Name: Date, dtype: datetime64[ns]

In [46]:
# Step 3

df["Year_Sold"] = df["Date"].dt.year
print(df[["Date", "Year_Sold"]].head())

        Date  Year_Sold
0 2016-03-12       2016
1 2016-04-02       2016
2 2017-04-03       2017
3 2017-04-03       2017
4 2016-04-06       2016

## Task 4: Grouping & Summarization

In [53]:
# Step 1

suburb_avg_price = df.groupby("Suburb")["Price"].mean()
print(suburb_avg_price)

Suburb
Abbotsford      1.060366e+06
Aberfeldie      1.277455e+06
Airport West    7.566567e+05
Albanvale       5.370833e+05
Albert Park     1.941355e+06
                    ...
Wonga Park      9.000000e+05
Wyndham Vale    4.832500e+05
Yallambie       8.396875e+05
Yarra Glen      6.200000e+05
Yarraville      9.886155e+05
Name: Price, Length: 314, dtype: float64

In [52]:
#Step 2

properties_per_suburb = df.groupby("Suburb")["Price"].count()
print(properties_per_suburb)

Suburb
Abbotsford       56
Aberfeldie       44
Airport West     67
Albanvale         6
Albert Park      69
               ...
Wonga Park        1
Wyndham Vale      4
Yallambie        24
Yarra Glen        1
Yarraville      164
Name: Price, Length: 314, dtype: int64

In [54]:
# Step 3

most_expensive_suburb = suburb_avg_price.idxmax()
print("Most expensive suburb:", most_expensive_suburb)

Most expensive suburb: Kooyong

## Task 5: Data Export & Reporting

In [62]:
# Step 1
df.to_csv("cleaned_melb_data.csv", index=False)

In [59]:
# Bonus Challenge:

median_price = df["Price"].median()
df["Category"] = df["Price"].apply(lambda x: "Expensive" if x > median_price else "Affordable")
print(df[["Price", "Category"]].head())
correlation = df["Price"].corr(df["Rooms"])
print("Correlation between Price and Rooms:", correlation)

       Price    Category
0  1480000.0   Expensive
1  1035000.0   Expensive
2  1465000.0   Expensive
3   850000.0  Affordable
4  1600000.0   Expensive
Correlation between Price and Rooms: 0.4966336761865308

In [61]:
# Save Summary
with open("summary_report.txt", "w") as f:
    f.write(f"Suburb with highest price: {highest_priced_suburb}\n")
    f.write(f"Correlation between price & rooms: {price_room_correlation}\n")